<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mlkj.blog.dao.UserInfoMapper">
	
	<!-- 实体类和数据库表的映射 -->
	<resultMap  type="UserInfo" id="usermap">
		<id column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_account" property="userAccount"/>
		<result column="user_password" property="userPassword"/>
		<result column="user_mark" property="userMark"/>
    </resultMap>
    
    <!-- 查询 -->
	<select id="getUserList" parameterType="UserInfo" resultMap="usermap">
		select * from user_info where user_mark = '1' 
		<if test="userName!=null and userName!=''">
			<bind name="namepattern" value="'%'+_parameter.userName+'%'"></bind>
			and user_name like #{namepattern}
		</if>
		<if test="start !=-1 and length!=-1">
			limit #{start},#{length}
		</if>
	</select>
	
	<!-- 总记录数 -->
	<select id="getUserCount" parameterType="UserInfo" resultType="long">
		select count(*) from user_info where user_mark = '1' 
		<if test="userName!=null and userName!=''">
			<bind name="namepattern" value="'%'+_parameter.userName+'%'"></bind>
			and user_name like #{namepattern}
		</if>
	
	</select>
	
	<select id="getByUserInfoId" resultMap="usermap">
		select * from user_info where user_id=#{userId}
	</select>

</mapper>