<!doctype html>
<html>
<head>
<meta charset="gb2312">
<title>学无止境</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="static/front/css/base.css" rel="stylesheet">
<link href="static/front/css/index.css" rel="stylesheet">
</head>
<body>

<header>
  <nav>
    <ul>
      <li><a href="index.html">网站首页</a></li>
      <li><a href="list.html">学无止境</a></li>
      <li><a href="message.html">留言</a></li>
    </ul>
  </nav>
</header>
<article>
  <div class="leftbox">
    <div class="newblogs">
      <h2 class="hometitle"><span>不要轻易放弃。学习成长的路上，我们长路漫漫，只因学无止境。</span>学无止境</h2>
      <ul>

        <li>
          <h3 class="blogtitle"><a href="/jstt/css3/2018-03-25/811.html" target="_blank" >别让这些闹心的套路，毁了你的网页设计</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/jstt/css3/2018-03-25/811.html" title="别让这些闹心的套路，毁了你的网页设计"><img src="picture/393d21b65031dd0d85eb2e5789a97b1e.jpg" alt="别让这些闹心的套路，毁了你的网页设计" /></a></span>
            <p>网页设计和做人一样，需要少一些套路，多一些真诚。那么下面就为大家揭穿那些看似好用，但用户体验并不好的设计模式。另外再附上解决办法，避免网页设计中出现这些问题。...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/jstt/css3/" title="css3" target="_blank"  class="classname">css3</a></span><span class="dtime f_l">2018-03-25</span><span class="viewnum f_l">浏览（<a href="/">6</a>）</span><span class="f_r"><a href="/jstt/css3/2018-03-25/811.html" class="more">阅读原文>></a></span></div>
        </li>

        <li>
          <h3 class="blogtitle"><a href="/jstt/css3/2018-03-24/810.html" target="_blank" >帝国cms自动设置标题图片选用文章第一张图片</a></h3>
          <div class="bloginfo"><span class="blogpic"><a href="/jstt/css3/2018-03-24/810.html" title="帝国cms自动设置标题图片选用文章第一张图片"><img src="picture/d657e883e062b8369378e0cb9d65faf7.jpg" alt="帝国cms自动设置标题图片选用文章第一张图片" /></a></span>
            <p>帝国cms设置默认自动选取第一张上传图为标题图片,很多时候需要添加一个单独的标题图片并没有那么多的时间。这里告诉大家一个最简单的添加标题图片的方法。<br />
首先打开帝国cm...</p>
          </div>
          <div class="autor"><span class="lm f_l"><a href="/jstt/css3/" title="css3" target="_blank"  class="classname">css3</a></span><span class="dtime f_l">2018-03-24</span><span class="viewnum f_l">浏览（<a href="/">55</a>）</span><span class="f_r"><a href="/jstt/css3/2018-03-24/810.html" class="more">阅读原文>></a></span></div>
        </li>









      </ul>
      <div class="pagelist"><a title="Total record">&nbsp;<b>146</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_13.html">尾页</a></div>
    </div>
  </div>
  <div class="rightbox">
    <div class="search">
      <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="paihang">
      <h2 class="ab_title"><a href="/">本栏推荐</a></h2>
      <ul>
        <li><b><a href="/jstt/css3/2018-03-20/808.html" target="_blank">十条设计原则教你学会如何设计网页布局!30...</a></b>
          <p>网页常见的布局有很多种,单列布局,多列布局.其中单列布局是国外很多网站比较常用的.咱们很多站长以及门户...</p>
        </li>
        <li><b><a href="/jstt/css3/2018-03-14/806.html" target="_blank">用js+css3来写一个手机栏目导航30...</a></b>
          <p>有些站长说想做一个手机适应的网站,但是导航太难了,如果要使用框架的话,代码非常多,冗余.再用dreamwear打...</p>
        </li>
    
      </ul>
      <div class="ad"><img src="static/picture/ad300x100.jpg"></div>
    </div>

  
  </div>
</article>
<footer>
  <p>Design by <a href="http://www.yangqq.com">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
</body>
</html>


